<%- include('header') -%>

<%- include('menu', {active: 'none'}) -%>

    <div class="container">
        <div class="card bg-light mt-5 mb-n5">
            <div class="card-header text-center">
                404 Error
            </div>
            <div class="card-body text-center">
                Looks like you are not in the right page! :(
            </div>
        </div>
    </div>

<%- include('footer') -%>
