<%- include('header') -%>

<%- include('menu', {active: 'artist'}) -%>

    <div class="container my-5">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Nationality</th>
                    <th scope="col" class="text-center" style="width: 100px;">Age</th>
                    <th scope="col" style="width:  100px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/artist/list/1" class="text-dark">Wolfgang Amadeus Mozart</a></td>
                    <td>Austrian</td>
                    <td class="text-center">265</td>
                    <td class="text-center">
                        <a href="/artist/edit/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="/artist/del/1" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/artist/list/1" class="text-dark">Kendrick Lamar</a></td>
                    <td>American</td>
                    <td class="text-center">33</td>
                    <td class="text-center">
                        <a href="/artist/edit/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="/artist/del/1" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/artist/list/1" class="text-dark">Led Zeppelin</a></td>
                    <td>United Kingdom</td>
                    <td class="text-center">53</td>
                    <td class="text-center">
                        <a href="/artist/edit/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="/artist/del/1" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <a href="/artist/new" class="btn btn-block btn-primary">Add new artist</a>
    </div>


    <%- include('footer') -%>