<body>
    <div id="logo" class="container-fluid bg-dark text-white py-5">
        <h1 class="mx-auto text-center" style="width: 400px;"><a href="/song"
                class="text-white bg-dark">VeryGoodSongs.com</a></h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link <% if (active === 'song') {%>active<%} %>" href="/song">
                        <h1>Songs</h1>
                        <% if (active === 'song') {%><span class="sr-only">(current)</span><%} %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (active === 'artist') {%>active<%} %>" href="/artist">
                        <h1>Artists</h1>
                        <% if (active === 'artist') {%><span class="sr-only">(current)</span><%} %>
                    </a>
                </li>
            </ul>
        </div>
    </nav>